html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    margin: 0; /*need these for when background image is inside div to remove the gap*/
    padding: 0;

    background-image: url("../images/Curve_Line.svg");
    background-repeat: no-repeat;
    background-size: fill;
    background-position: center center;
    background-attachment: fixed; 
}

body, head {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}



.purp-text {
    color: #9617B3;
}

.page-heading {
    /* color: #9617B3; */
    margin-left: auto;
    margin-right: auto;
    font-size: 5rem;
    width: fit-content;
    font-weight: 400;
    margin-bottom: 15%;
}

.outline {
    border: 1px solid #4932DA;
    border-style: none solid solid none;
}



/*about me section*/
.skills-list li {
    color: rgb(73, 50, 218)
}

.background {
    background-color: (#5f8ebd, 0.7);
    background-color: rgba(95, 142, 189, 0.5);
}

/*font stuff*/

.light-text {
    color: #D9EBFF;  
}

.orange-text {
    color: #E73635;
}

.blue-text {
    color: rgb(73, 50, 218);
}

.sec-2 h1, .sec-3 h1, .sec-4 h1 {
    font-size: 3.7rem;
}

.sec-2 p, .sec-2 li {
    font-size: 1.2rem;
}

/*snap scrolling*/

/*only scroll snap on big screens*/
@media only screen and (min-width:1000px) {
    html {
        scroll-snap-type: y mandatory;
    }

    section {
        scroll-snap-align: start;
    }
}


section {
    height: 100vh;
    
}

.sec-1 {
    background-image: url("../images/Curve_Line.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed; 
}

.sec-2, .sec-3, .sec-4 {
    background-image: url("../images/Curve_Line.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed; 
}

/*scroll bar design*/
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    /* border-radius: 8px; */
    /* background-color: #e7e7e7; */
    border: 1px solid #cacaca;
}

/* Handle */
::-webkit-scrollbar-thumb {
    /* border-radius: 8px; */
    /* background-color: #9617B3; */
    background-color: rgb(73, 50, 218);


}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    /* background: #bd0fe4;  */
    background-color: rgb(86, 60, 255);

}


/*card flip on click*/
/*maybe on click, the cards flip and get bigger and centered?*/

.cards-container {
    margin-left: auto;
    margin-right: auto;
    
}

.card-wrapper {
    /* width: 20rem;
    height: 24rem; */
    width:38rem;
    height: 36rem;
    margin-left: auto;
    margin-right: auto;
}

.card-inner {
    width: 100%;
    height: 100%;
    transition: transform 1.5s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;

     
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card-inner.is-flipped {
    transform: rotateY(180deg);
}

.is-flipped {
    transform: rotateY(180deg);
}



.card-effect {
    transform: translateX(-50%) scale(1.4); 
    transition: transform 1.5s ease-in-out;
    -webkit-transition: transform 1.5s ease-in-out;
    position: fixed;
    top: 22%;
    left: 50%; 
    z-index: 999;
    opacity: 1;
}


/*small screens (desktop first approach as the the site is unlikely to be viewed on mobile*/
@media only screen and (max-width:950px) {
    .card-effect {
        transform: translateX(-50%) scale(1);
        top: 12%;
    }

    .page-heading {
        width: 80%;
    }

    .card-wrapper {
        width:  35rem;
        height: 50rem;
        
    }
}

/*small screens (desktop first approach as the the site is unlikely to be viewed on mobile*/
@media only screen and (max-width:600px) {
    .card-effect {
        transform: translateX(-50%) scale(1);
    }

    .card-wrapper {
        width:  20rem;
        height: 30rem;
    }


}



.card-effect-remove {
    transform: scale(1);
    transition: transform 1.5s ease-in-out;
    -webkit-transition: transform 1.5s ease-in-out;
    z-index: 2;
}

.hide-card {
    visibility: hidden;
    opacity: 0;
    transition: visibility 1.8s, opacity 1.8s linear;
    
}


.show-card {
    visibility: visible;
    opacity: 1;
}

.card {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
}


.card-back {
    transform: rotateY(180deg);
}

.card img {
    width: 100%;
    height: 60%;
    margin-left: auto;
    margin-right: auto;
}

.card-back img {
    width: 100%;
    height: 55%;
    margin-left: auto;
    margin-right: auto;
}

.hidden {
    visibility: hidden;
}

/*sec 3*/
.sec-3 {
    height: fit-content;
}


.sec-3 h1 {
    padding: 5rem;
    padding-bottom: 0rem;
}

.card-title, .card-text {
    color: rgb(73, 50, 218);
}

.card-title {
    font-size: 2rem;
}


/*sec-4*/
.sec-4 {
    /* height: 130vh; */
    height: fit-content;
}

.sec-4 h1 {
    padding: 5rem;
    margin-bottom: 3rem;
}


h2 {
    padding: 1rem;
    font-size: 3rem;
}

.sec-4 img {
    width: 100%;
}

.sec-4 .row p {
    background-color: white;
    padding: 1rem;
    border-radius: 0.8rem;
}


